<%- include('partials/header'); -%>

<!-- need loop -->
<div class="topnav">
    <a  href="/">Home</a>
    <% for(let i = 0; i < categories.length; i++ ){ %>
        <% if (current === categories[i].categoryName) { %>
            <a style="background-color: #04AA6D;" href="/api/categories/all?name=<%= categories[i].categoryName %>"><%= categories[i].categoryName %></a>
        <% } else { %>
            <a  href="/api/categories/all?name=<%= categories[i].categoryName %>"><%= categories[i].categoryName %></a>
        <% } %>
    <% } %>
</div>


<div style="padding: 30px; border: 5px solid black;">
    <h1><%= current %></h1>

    <% if (news && news.length > 0) { %>
        <% for(let i = 0; i < news.length; i++ ){ %>
            <p><%= news[i].header %></p>
            <br>
        <% } %>
    <% } else { %>
        <p>No News</p>
    <% } %>
</div>

<script>
    const categoryName = location.href.split('=')[1];
</script>
